<h2>Crear nuevo usuario</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="" class="form-label">Usuario:</label>
    <input type="text" class="form-control" formControlName="username" />
  </div>
  <div class="mb-3">
      <label for="" class="form-label">Email:</label>
      <input type="text" class="form-control" formControlName="email" />
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Password:</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>

  <input id="enviar" type="submit" value="Enviar" />
</form>
