<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3"><label for="" class="form-label">Nombre:</label>
        <input type="text" class="form-control" formControlName="first_name">
    </div>
    <div class="mb-3"><label for="" class="form-label">Apellidos:</label>
        <input type="text" class="form-control" formControlName="last_name">
    </div>
    <div class="mb-3"><label for="" class="form-label">Usuario:</label>
        <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="mb-3"><label for="" class="form-label">Email:</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3"><label for="" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <input type="submit" value="Enviar">
</form>
