.series{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.serie{
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}
td {
    background-color: transparent;
}
.fila-par{
    background-color: lightblue;
}

.fila-impar{
    background-color: lightgray;
}
