
<select  (change)="onFilterByChannel($event)" >
    <option value="canal" *ngFor="let canal of canales">{{canal}}</option>
</select>
<div class="row">
    <div id="serie"class="col-12 col-md-4 p-3" *ngFor="let serie of series; let indice = index">
        <h3>{{serie.titulo}} </h3>
        <p>Creador: {{serie.creador}}</p>
        <p>Rating: {{serie.rating}}</p>
        <p>Fechas: {{serie.fechas}}</p>
        <p>Canal: {{serie.canal}}</p>
        <div class="imagen">
            <img [src]="serie.imagen" alt="">
        </div>
        <button [routerLink]="['/series', serie.id]">Ver detalle</button>
    </div>

</div>
